<section>
  <h1>Contacts</h1>
  <div style="margin-top: 10px">
  <a style="margin-right: 10px; text-decoration: none" target="_blank" class="fa fa-github fa-2x" href="https://www.github.com/ruanhao"></a>
  <a style="margin-right: 10px; text-decoration: none" target="_blank" class="fa fa-linkedin fa-2x" href="https://www.linkedin.com/in/ruanhao1116"></a>
  <a style="margin-right: 10px; text-decoration: none" target="_blank" class="fa fa-facebook fa-2x" href="https://www.facebook.com/ruanhao1116"></a>
  <div>
</section>
